[Package]
version: 1
depends: 

[Product]
type: localboot
id: ica-wise-disk-cleaner
name: Wise Disk Cleaner
description: Wise Disk Cleaner 9.7.1
advice: 
version: 9.7.1
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
ica-wise-disk-cleaner (9.7.1-1) stable; urgency=low

	* initial: created by opsi-setup-detector

 -- opsisetupdetector.exe <info@uib.de>  3/6/2018 9:45:29

